/* main table */
table {
    border-collapse: collapse;
    margin: 2em auto;
    /* min-height: calc(100vh - 180px); */
}
th, td {
    border: 1px solid #ccc;
    text-align: center;
    padding: 1em;
}

.headinfo{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.tgthead{
  text-align: center;
	font-size: 24px;
	margin-top: 36px;
	font-weight: bold;
	width: calc(100% /6);
}

@media screen and (max-width: 844px) {
    table {
      width:100%;
      margin:0 auto;
    }
    tbody {
      width: 100%;
    }
    th,td {
      display: block;
      width: 100%;
    }
    table tr:nth-child(odd) th{
      background-color:pink;
    }
    table tr:nth-child(even) th{
      background-color:aqua;
    }
    .headinfo{
      flex-wrap: wrap;
      width: 100%;
    }
  
    .tgthead{
      display: block;
      width: 90%;
      text-align: center;
      font-size: 18px;
      margin-top: 10px;
      font-weight: bold;
    }
}
